$knollLogoBlue: #0000fe;

.header_section {
    display:flex;
    justify-content: space-between;
    background: $knollLogoBlue;
    padding: 15px 10px;
    position: sticky;
    top: -1px;
    z-index: 1;
}

.hamburger {
    min-height: 100%;
    min-width: 20px;
    color: white;
    margin: 0 10px;
    background: $knollLogoBlue;
}

