.list_with_header_section {
    margin-left: 20px;
}

.list_header {
    margin-top: 40px;
}

@media only screen and (min-width: 768px) {
    .list_header {
        font-size: 2rem;
    }
    .list_with_header_section {
        margin-left: 50px;
    }
}