$knollLogoBlue: #0605E8;

.address_banner {
    background: $knollLogoBlue;
}

.address_text {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    
    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }
}