$knollLogoBlue: #0605E8;

.address_banner {
    background: $knollLogoBlue;
    border-radius: 5px 5px 0 0;
}

.address_text {
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 10px;
    margin: 0 auto;
    
}