$knollLogoBlue: #0605E8;

@keyframes fade {
    0% { opacity: 0;}
    25% { opacity: 1;}
    75% { opacity: 1;}
    100% { opacity: 0;}
}

@mixin commonCarousels() {
    text-align: center;
    font-size: 1rem;
    color: $knollLogoBlue;
    animation-name: fade;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    padding: 20px 0;
    height: 60px;
    text-shadow: 1px 1px 1px white;
}

.carousel_text_center {
    @include commonCarousels();
}

.carousel_text_left {
    @include commonCarousels();
    max-width: 70vw;
}