$knollLogoBlue: #0605E8;

@mixin commonCarousels() {
    text-align: center;
    font-size: 1rem;
    color: #000066;
    padding: 20px 10px;
    height: 60px;
    text-shadow: 1px 1px 1px white;
    position: relative;
    font-style: italic;
    font-size: 1.2rem;
}

.carousel_text_center {
    @include commonCarousels();
}

.carousel_text_left {
    @include commonCarousels();
    max-width: 70vw;
}