.service_list_item {
    margin: 0;
}

@keyframes slowOpen {
    from {opacity: 0;}
    to {opacity: 1;}
}

.service_list_container {
    padding: 20px;
    animation-name: slowOpen;
    animation-duration: 2s;
}

