.input_container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.input_field {
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}