html,
body {
  padding: 0;
  margin: 0;
  color: #000066;
  border-color: #000066;
}

body {
    min-height: 100vh;
    background-color: #D2E3F0;
    font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

summary {
  outline: none;
}



